jupyterlab
python-dotenv
langchain
#in case there is any langchain related problem just comment or delete the above line "langchain" as this module might be deprecated
openai
pinecone-client
unstructured
pdf2image
pdfminer-six==20231228
pillow_heif
opencv-python
unstructured_inference
pytesseract
pikepdf
ipywidgets
langchain-openai
langchain-pinecone